<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yanthraa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand - v1.2.1
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">yanthraa@gmail.com</a>
        <i class="icofont-phone"></i>+91 9912712140
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
       <a href="index.html" class="logo mr-auto"><img src="assets/img/000.jpeg" alt=""></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html"><b>Home</b></a></li>
          <li><a href="#about"><b>About</b></a></li>
          <li><a href="#services"><b>Services</b></a></li>
          <li><a href="#contact"><b>Contact</b></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1> <span style="color: gray; font-size: 25px;">Welcome to </span><span style="color:#ec600c;">yanth</span><span style="color: #282869;">raa</span></h1>
       <h2 style="color: black;"><b><em>YANTHRAA CAN HELP YOU BUILD BETTER WEBSITES USING  THE OPEN SOURCE FRAMEWORK!</em></b></h2>
       <h3 style="color: black;" align="left">Yanthraa will serve you better Innovative and solutions</h3>
       <div class="d-flex">
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>We've got what you need!<span style="color: #ec600c;">Yanth</span><span style="color: #282869;">raa</span></h3>
          <p>Yanthraa has everything you need to get your new website up and running in no time!.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
            <!-- <img src="assets/img/about.jpg" class="img-fluid" alt=""> -->
          </div>
          
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <h1 style="color: #ec600c;">We've got what you need!</h1>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
             <h3> Yanthraa has everything you need to get your new website up and running in no time!</h3>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          <div class="testimonial-item">
            <h1 style="color: #ec600c;">Make your Business Smarter with Artificial Intelligence Services & Solutions</h1>
            <p>
              <h3><i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Today Machine Learning and Artificial Intelligence is penetrating every side of the business, from deploying Chatbots to AI-driven platforms. We help other businesses in building cutting-edge AI solutions that enable them to be a leader. Yanthraa Information Systems leverages machine learning (ML), image recognition, and automatic speech recognition (ASR) technologies to the fullest benefit of its customers.
              Artificial Intelligence can change the future of your company by transforming your businesses. Yanthraa understands and implements deep learning, natural language processing, and machine learning to ensure that we develop a powerful and reliable AI. Our Artificial Intelligence services & solutions for multiple industries enable faster decisions, reduce error, provide cognitive assistance, cut down costs, and avoid risk exposure to humans.</h3>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          <div class="testimonial-item">
          <h1 style="color: #ec600c;">Unleashing IoT to make the world connected intelligently</h1>
           <p>
              <h3><i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Internet of Things (IoT) is a fabric that is woven of commodities in our surroundings, connected digitally. These commodities talking to each other have given rise to a new digital ecosystem you would like to leverage to your advantage. Of course, there are challenges but that’s why we are here, creating new digital, connected experiences of your customers.Whereas IoT harvests the true value of connectivity, your customers benefit from a truly customer-centric experience. This enables your business to have happier customers and to utilize the accurate insights enabled via analytics, Machine Learning and Artificial Intelligence — A win-win for all, and a happier world.</h3>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h1 style="color: #ec600c;">Cloud Service Providers</h1>
            <p>
              <h3><i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Businesses across the globe are rapidly embracing the cloud services to gain competitive advantage, increased flexibility, and scalability at low-cost. To achieve these goals, it is a must that the right cloud strategy and roadmap are in place.Yanthraa Information Systems Cloud Advisory services assist in cloud adoption by understanding their business need and analyzing IT landscape, and based on findings offer IT application migration services to make the transition to the cloud smooth and seamless.</h3>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h1 style="color: #ec600c;">Machine Learning Solutions for an Intelligent Businessing</h1>
            <p>
             <h3> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Businesses today are able to collect massive volumes of information. In order to reap the value hidden in the gathered information, you need to enable machines to analyze the data sets, make useful predictions, draw important patterns, learn and adjust iteratively to improve the predictions. Machine learning offers ways, tools and algorithms, that drive the real business results having the potential to tremendously impact the future of your organization – delivering predictions with great accuracy and speed.Yanthraa Information Systems Machine Learning solutions enable you to join and lead the organizations that breathe innovation – leveraging the true potential of the information and putting at work the best talents, tools, algorithms, and keen business acumen to deliver the results that speak for themselves.</h3>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          <div class="testimonial-item">
            <h1 style="color: #ec600c;">Application Development Services</h1>
            <p>
             <h3> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Today organizations are looking for applications that can deliver extreme personalization and real-time customizations. These demands are transforming the application development landscape and the criteria to choose the IT partner. With new age technologies like social, cloud, analytics, mobile and robots, open source tools and automation has become obsolete. Organizations need an IT partner who can co-create systems and act as a strategic business partner to deliver business value.Yanthraa Information Systems work with businesses to understand their needs and deliver new age applications that can enhance business value and beat the competition.</h3>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          <div class="testimonial-item">
            <h1 style="color: #ec600c;">Our ASM services focus on preempting issues, systemically eliminating effort, optimizing the workforce & transforming the application portfolio with digital solutions.</h1>
            <p>
             <h3> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
             Evolve from reactive to preemptive by leveraging real-time knowledge and predictive models to eliminate business disruption
             Understand business needs and KPIs and provide an agile response to issues
             Deploy automation and innovative practices to compress and eliminate effort and drive year on year cost reductions</h3>
        </div>
        <div class="testimonial-item">
            <h1 style="color: #ec600c;">DevOps Services for Faster Time to Market</h1>
            <p>
             <h3> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              As a skilled DevOps service provider, we focus on a management culture which enhances the entire software setup to complete collaboration, communication, and integration. Our DevOps consulting service manages infrastructure, procedures and tools, delivery and maintenance of software operations.
              Our DevOps services ensure on-boarding of applications by facilitating continuous integration and development and automating end-to-end delivery pipeline across several leading platforms. With our DevOps consulting, we help various enterprises to achieve higher efficiency, better quality of software builds, and faster time. DevOps consulting services facilitate the provider journey to an organization. DevOps develops and deploys software in a collaborative manner. Our DevOps consulting helps organizations align with the goals, producing high-quality software-based services.</h3>
            </p></div>
              <div class="testimonial-item">
            <h1 style="color: #ec600c;">Software Product Verification and Validation</h1>
            <p>
             <h3> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
             At Yanthraa Information Systems we provide independent product Verification & Validation services as part of our Product Engineering services. We follow a detailed Verification and Validation process. The Verification focuses on ensuring that the product is in line with the design specifications and the Validation process examines whether the product is built to meet the operational needs of the user.</h3>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3>At our <span>Services</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-diamond"></i></div>
              <h4><a href="">App Development</a></h4>
              <p>Our services are updated regularly to keep them bug free!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-laptop"></i></div>
              <h4><a href="">Up to Date</a></h4>
              <p>All dependencies are kept current to keep things fresh.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Cloud Services/IoT/App Security</a></h4>
              <p>You can use this design as is, or you can make changes!</p>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-heart"></i></div>
              <h4><a href="">Made with Love</a></h4>
              <p>Is it really open source technologies if it's not made with love?s</p>
            </div>
          </div>
      </div>
    </section><!-- End Services Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>Contact</h2></center>
          <h3><span>Contact Us</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>F101 Main Street, HYD,  TELANGAN 500049</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>yanthraa@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9912712140</p>
            </div>
          </div>

        </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><span style="color:#ec600c;">yanth</span><span style="color: #282869;">raa</span><span>.</span></h3>
            <p>
              F101 Main Street <br>
              HYD, TELANGAN 500049<br>
              India <br><br>
              <strong>Phone:</strong> +91 9912712140<br>
              <strong>Email:</strong> info@yanthraa.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <center><a href="index.html" class="logo mr-auto"><img src="assets/img/000.jpeg" alt=""></a></center>
      <div class="copyright">
       Copyright © 2021 - <strong><span> Yanthraa Information Systems Pvt Ltd</span></strong>. All Rights Reserved<br>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a> 

  
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>